.body {
    width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0;
}

@media (max-width: 600px) {
    .body {
        width: 100vw;
        height: 70vh;
        position: absolute;
        top: unset;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px 20px 0 0;
    }
}