.body {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
    color: #e1e1e1;
}

.body .item {
    background: rgba(0, 191, 255, 0.28);
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    white-space: nowrap;
}

.body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;*/
    border-radius: 10px !important;
    background-color: #000000 !important;
}
.body::-webkit-scrollbar
{
    width: 10px !important;
    background-color: rgba(245, 245, 245, 0) !important;
}
.body::-webkit-scrollbar-thumb
{
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    background-color: #555 !important;
}