.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,50%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.panel {
    width: 50%;
    height: 60%;
    background: rgb(90, 90, 90);
    border-radius: 20px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .body {
        display: flex;
        align-items: flex-end;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .panel {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }
}